* {
    box-sizing: border-box;
}

html {
    font-family: Verdana;
    color: #555;
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 10%;
    display: flex;
    color: white;
    background-image: linear-gradient(60deg, red, orange);
}

h1 {
    margin: auto;
}

.main {
    display: flex;
    flex: 1 0 auto;
}

.footer {
    background-color: #e5e5e5;
    padding: .5em;
    text-align: center;
}

.navigation,
.section,
.news {
    padding: .5em;
}
.navigation {
    width: 20%;
}

.section {
    width: 60%;
    font-size: 1.25em;
}

.news {
    width: 20%;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    text-align: center;
    font-size: 5vw;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav-list-item {
    background-color: #808080;
    color: white;
    line-height: 2em;
    margin-bottom: .5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: .5em;
    padding-left: .5em;
}

.nav-list-link {
    color: white;
    text-decoration: none;
    max-width: 100%;
}