.dropdown {
  margin: 16px;
  position: absolute;
  display: inline-block;
}

.menu-button {
  display: inline-block;
  padding: 16px;
  background-color: darkgreen;
  color: white;
  opacity: 0.8;
}

.menu-button:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
}

.menu-list {
  display: none;
  padding: 0;
  margin: 0;
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.menu-item {
  padding: 16px;
  list-style-type: none;
  position: relative;
  min-width: 80px;
  z-index: 1;
}

.dropdown:hover .menu-item {
  background-color: lightcyan;
}

.dropdown:hover .menu-list {
  display: contents;
  position: absolute;
  background-color: ghostwhite;
}
