* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.spinner {
    display: flex;
}

.spinner-text {
    position: absolute;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite linear;
    left: calc(50vw - 44px);
    top: calc(50vh - 9px);
}

.circle {
    position: absolute;
    left: calc(50vw - 25px);
    top: calc(50vh - 65px);
    width: 50px;
    height: 50px;
    border: 4px solid lightgrey;
    border-top-color: black;
    margin-bottom: 8px;
    border-radius: 100%;
    animation: spin 2s infinite linear;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

